<h3>About this site</h3>


<h4>Hi! Welcome!</h4>


<!-- Count how many users, posts, comments.  -->
<table class="table table-striped table-hover">
  <tr>
    <td>
      <p>
        How many users: <%= User.all.size %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        How many posts: <%= Post.all.where(status:1).size %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        How may comments: <%= Comment.all.where(status:1).size %>
      </p>
    </td>
  </tr>
</table>