<table class="table">
  <tr>
    <td>title:</td>
    <td>
      <%= @post.title %>
    </td>
  </tr>
  <tr>
    <td>Content:</td>
    <td>
      <%= @post.content %>
    </td>
  </tr>
</table>

<%= link_to "Back to home", posts_path, :class => "btn btn-info"  %>